<div class="container">
  <div class="form-wrapper">
    <h2 class="form-header">Forgot Password</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Your email" />
      </mat-form-field>

      <div class="button-wrapper">
        <button mat-raised-button color="primary" type="submit">Send Reset Link</button>
      </div>
    </form>
    <p class="link-text">
      Remembered your password? <a routerLink="/sign-in">Sign in</a>
    </p>
  </div>
</div>